<div class="container">
        <div class="row">
                <div class="col-md-12 alert-success">
                        <div class="h2"> Cálculo de Intereses FFDSAL</div>    
                </div>  
                <div class="col-md-12 alert-info">
                        <hr>   
                </div> 
        </div>
        <div class="row">
                <div class="col-md-12">
                        <app-calculo-intereses></app-calculo-intereses>                    
                </div>  
        </div>

<router-outlet></router-outlet>
</div>