<div class="container" style="padding-top:15px;">
  <div class="row">
    <div class="col-md-12">
        <div class="jumbotron">
            <h1 class="display-4" *ngIf="saldoFinal !== undefined">El saldo del productor es de: <span class="badge badge-info">{{ saldoFinal }}</span></h1>
            
            <button *ngIf="saldoFinal !== undefined" class="btn btn-success" (click)="exportAsXLSX()">DESCARGAR EXCEL</button>

            <hr class="my-4">
            
            <div class="row">
                <div class="col-md-4">
                  Seleccione el archivo de Cuenta Corriente en formato JSON:
                </div>
                <div class="col-md-8">
                    <input id="file-upload" 
                      type="file" 
                      accept=".json" 
                      (change)="fileUpload($event)">
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">Fecha Final para Cálculo
                      <input  [(ngModel)]="fechaFinRemision"  type="text" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)"/>
                      <button (click)="d.toggle()">Calendario</button>
                  </div>
                  <div class="col-md-6" *ngIf="alerta == true">
                      <ngb-alert [type]="alertaTipo"  [dismissible]="true" (close)="close()" >
                        {{ alertaMensaje }}
                      </ngb-alert>
                  </div>   
                </div>
            
           
             
            
        </div>
    </div>
  </div>
    
  <!--<div class="row">
    <div class="col-md-4">
      Seleccione el archivo de Cuenta Corriente en formato JSON:
    </div>
    <div class="col-md-8">
        <input id="file-upload" 
          type="file" 
          accept=".json" 
          (change)="fileUpload($event)">
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-md-12">
        <hr>
    </div>
  </div>
  
 
  <div class="row">
   
      <div class="col-md-6">
        <!--<h2>El saldo del productor es de: <span class="badge badge-info">{{ saldoFinal }}</span></h2>-->
      </div>
    </div>  
    <div class="row">
        <div class="col-md-12">
            <hr>
        </div>
    </div>  
</div>

<div class="container">
  
  <div class="row" rowStyle>                  
              <div class="col-md-2">
              <strong>
                FECHA
              </strong>
              </div>
              <div class="col-md-3">
                  <strong>Referencia</strong>
              </div>
              <!--<div class="col-md-1">Ref ID</div>-->
              <div class="col-md-2">
                  <strong>Debito</strong>
              </div>
              <div class="col-md-2">
                  <strong>Credito</strong>
              </div>
              <div class="col-md-1">
                  <strong>Saldo</strong>
              </div>
              <div class="col-md-1">DIAS</div>
              <div class="col-md-1">
                  <strong>INTERES</strong>
              </div>
  </div>
  <div class="row" *ngFor="let itemCtaCte of ctaCte">    
      <div class="col-md-2 bg-light">{{ itemCtaCte.FECHA | date:'dd-MM-yyyy' }}</div>
      <div class="col-md-3 bg-light">{{ itemCtaCte.REFERENCIA }}</div>
      <!--<div class="col-md-1 bg-light">{{ itemCtaCte.IdRegistro_2 }}</div>-->
      <div class="col-md-2 bg-light">{{ itemCtaCte.DEBITO }}</div>
      <div class="col-md-2 bg-light">{{ itemCtaCte.CREDITO }}</div>
      <div class="col-md-1 bg-light">{{ itemCtaCte.SALDO | number:'1.0-0' }}</div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
      <div class="col-md-1"></div>
      <div class="col-md-1 bg-danger">{{ itemCtaCte.dias }}</div>
      <div class="col-md-1 bg-success">{{ itemCtaCte.intereses }}</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <hr>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">
        <h3>Para copiar y pegar en Whatapp o Email</h3>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">Fecha de la solicitud
          <input [(ngModel)]="fechaSolicitud"  type="text" placeholder="Solicitud"/>
      </div>
      <div class="col-md-6">Leche Remitida Hasta
          <input [(ngModel)]="lecheRemitidaHasta"  type="text" placeholder="Remision Hasta"/>
      </div>
    <div class="col-md-12">
      El monto adeudado es de USD <strong> {{ saldoFinal }} </strong>.  El saldo incluye intereses calculados al día <strong> {{ fechaSolicitud }} </strong>, fecha de solicitud de la información, 
      y se restaron los pagos de prestación pecuniaria realizados por la leche remitida hasta el <strong> {{ lecheRemitidaHasta }} </strong>, última remisión informada 
      por la industria.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <hr>  
    </div>
</div>
</div>
<div class="container">
   
    
    
</div>
