<div class="container">
  <div class="row justify-content-center" >

    <div class="card border-success mb-4" style="max-width: 18rem; margin-right: 15px;">
      <div class="card-header">a - IMPORTE COBRADO</div>
      <div class="card-body text-success">
        <h3 class="card-title">{{ importeCobrado }}</h3>    
      </div>
    </div>

    <div class="card border-success mb-4" style="max-width: 18rem; margin-right: 15px;">
        <div class="card-header">b - COMPROMISO REAL</div>
        <div class="card-body text-success">
          <h3 class="card-title">{{ importeCobrado - obligacionRealTotal }}</h3>    
        </div>
    </div>

    <div class="card border-success mb-4" style="max-width: 18rem; margin-right: 15px;">
        <div class="card-header">a - b - COMPROMISO REAL</div>
        <div class="card-body text-success">
          <h3 class="card-title">{{ obligacionRealTotal }}</h3>    
        </div>
    </div>

  </div>

  <div class="row justify-content-center" >

      <div class="card border-success mb-4" style="max-width: 18rem; margin-right: 15px;">
        <div class="card-header">j - SALDO A INFORMAR</div>
        <div class="card-body text-success">
          <h3 class="card-title">{{ saldoAInformar }}</h3>    
        </div>
      </div>
  
      <div class="card border-success mb-4" style="max-width: 18rem; margin-right: 15px;">
          <div class="card-header">h - SALDO COMPROMISO REAL</div>
          <div class="card-body text-success">
            <h3 class="card-title">{{ saldoFinal }}</h3>    
          </div>
      </div>
  
      <div class="card border-success mb-4" style="max-width: 18rem; margin-right: 15px;">
          <div class="card-header">j - h - SALDO SUBSIDIO</div>
          <div class="card-body text-success">
            <h3 class="card-title">{{ saldoAInformar - saldoFinal }}</h3>    
          </div>
      </div>
  
    </div>
</div>

<div class="container" *ngIf="ayudaProgramador">
    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Compromiso Real</h5>
              <p class="card-text">{{ compromisoReal }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Coeficiente Adelanto</h5>
              <p class="card-text">{{ coeficienteAdelanto }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Coeficiente Saldo</h5>
                <p class="card-text">{{ coeficienteSaldo }}</p>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Litros</h5>
                <p class="card-text"> {{ litrosBeneficio }}</p>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Obligacion Total USD</h5>
              <p class="card-text">{{ obligacionRealTotal }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Obligacion Adelanto USD</h5>
              <p class="card-text"> {{ obligacionAdelanto }}</p>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Obligacion Saldo USD</h5>
                <p class="card-text">{{ obligacionSaldo }}</p>
              </div>
            </div>
        </div>
        <div class="col-sm-3">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Saldo Compromiso Real</h5>
                    <p class="card-text">{{ saldoFinal }}</p>
                  </div>
                </div>
              </div>
            </div>  
            <div class="row">  
            <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Saldo Subsidio</h5>
                    <p class="card-text">{{ saldoSubsidio }}</p>
                  </div>
                </div>
              </div>
          </div>
            <div class="row">  
            <div class="col-sm-12">
              <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Saldo A Informar</h5>
                    <p class="card-text">{{ saldoAInformar }}</p>
                  </div>
                </div>
              </div>
          </div>
            

        </div>
    </div>
  </div>
<hr>
  <!-- Container de comandos-->
  <div class="container">  
    
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
            <div class="row">
              <div class="container-md-12">
                <h1>Ingreso de información.</h1>
                
              </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-8">
                    <div class="custom-control custom-switch">
                        <input 
                          type="checkbox" 
                          class="custom-control-input"
                          [(ngModel)]="esBeneficioso"
                          id="idBeneficioso">
                        <label class="custom-control-label" for="idBeneficioso">
                          <span  *ngIf="esBeneficioso; else noEsBeneficioso">Utilizar Cálculo <strong>Más</strong> Beneficioso</span></label>
                        <ng-template #noEsBeneficioso>
                            Utilizar Cálculo <strong>Menos</strong> Beneficioso
                        </ng-template>
                      </div>
                </div>   
                <div class="col-md-4 p-3 mb-2 bg-info text-white">
                  Estado Variables <br>
                  ES BENEFICIOSO EL CALCULO: {{ esBeneficioso }} <br>
                  UTILIZA FECHA DE FIN DE REMISIÓN: {{ tieneFechaFinRemision }}
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6 form">
                    <input id="file-upload" 
                      class="custom-file-input"
                      type="file" 
                      accept=".json" 
                      (change)="fileUpload($event)">
                      <label class="custom-file-label" for="file-upload">{{ nombreArchivoLeido }}</label>  
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">Fecha Final para Cálculo
                    <input class="form-control"  [(ngModel)]="fechaFinalCalculo"  type="text" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelect($event)"/>
                    <button (click)="d.toggle()" class="btn btn-secondary">Calendario Fecha Final para Cálculo</button>
                </div>
                <div class="col-md-6" *ngIf="alerta == true">
                    <ngb-alert [type]="alertaTipo"  [dismissible]="true" (close)="close()" >
                      {{ alertaMensaje }}
                    </ngb-alert>
                </div>   
            </div>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <div class="custom-control custom-switch">
                        <input 
                          type="checkbox" 
                          class="custom-control-input"
                          [(ngModel)]="tieneFechaFinRemision"
                          id="idFechaFinRemision">
                        <label class="custom-control-label" for="idFechaFinRemision">                          
                          Utiliza Fecha Fin Remisión?
                        </label>                        
                    </div>
                </div>   
                <div class="col-md-6">
                  <div class="col-md-12"   *ngIf="tieneFechaFinRemision">Fecha Fin Remision
                    <input class="form-control"  [(ngModel)]="fechaFinRemision"  type="text" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onDateSelect($event)"/>
                    <button (click)="d2.toggle()" class="btn btn-secondary">Calendario Fecha Fin Remsión</button>
                 </div>
                  
                </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-md-4">
                  <button class="btn btn-success btn-lg" (click)="realizarCalculoPF()">{{textoBoton}}</button>
              </div>
              <div class="col-md-8">
                  {{ dibujo }}
              </div>
            </div>
        </div>
      </div>
    </div>
    
      
</div>

<div class="container">
  
    <div class="row" rowStyle>                  
                <div class="col-md-2">
                <strong>
                  FECHA
                </strong>
                </div>
                <div class="col-md-3">
                    <strong>Referencia</strong>
                </div>
                <!--<div class="col-md-1">Ref ID</div>-->
                <div class="col-md-2">
                    <strong>Debito</strong>
                </div>
                <div class="col-md-2">
                    <strong>Credito</strong>
                </div>
                <div class="col-md-1">
                    <strong>Saldo</strong>
                </div>
                <div class="col-md-1">DIAS</div>
                <div class="col-md-1">
                    <strong>INTERES</strong>
                </div>
    </div>
    <div class="row" *ngFor="let itemCtaCte of ctaCte">    
        <div class="col-md-2 bg-light">{{ itemCtaCte.FECHA | date:'dd-MM-yyyy' }}</div>
        <div class="col-md-3 bg-light">{{ itemCtaCte.REFERENCIA }}</div>
        <!--<div class="col-md-1 bg-light">{{ itemCtaCte.IdRegistro_2 }}</div>-->
        <div class="col-md-2 bg-light">{{ itemCtaCte.DEBITO }}</div>
        <div class="col-md-2 bg-light">{{ itemCtaCte.CREDITO }}</div>
        <div class="col-md-1 bg-light">{{ itemCtaCte.SALDO | number:'1.0-0' }}</div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1 bg-danger">{{ itemCtaCte.dias }}</div>
        <div class="col-md-1 bg-success">{{ itemCtaCte.intereses }}</div>
    </div>
  </div>

  <div class="container">
  
    <div class="row" rowStyle>                  
                <div class="col-md-2">
                <strong>
                  FECHA
                </strong>
                </div>
                <div class="col-md-3">
                    <strong>Referencia</strong>
                </div>
                <!--<div class="col-md-1">Ref ID</div>-->
                <div class="col-md-2">
                    <strong>Debito</strong>
                </div>
                <div class="col-md-2">
                    <strong>Credito</strong>
                </div>
                <div class="col-md-1">
                    <strong>Saldo</strong>
                </div>
               <!-- <div class="col-md-1" *ngIf="verDias">DIAS</div>-->
                <div class="col-md-1">DIAS</div>
                <div class="col-md-1">
                    <strong>INTERES</strong>
                </div>
    </div>
    <div class="row" *ngFor="let itemCtaCte of ctaCteSegundaParte">    
        <div class="col-md-2 bg-light">{{ itemCtaCte.FECHA | date:'dd-MM-yyyy' }}</div>
        <div class="col-md-3 bg-light">{{ itemCtaCte.REFERENCIA }}</div>
        <!--<div class="col-md-1 bg-light">{{ itemCtaCte.IdRegistro_2 }}</div>-->
        <div class="col-md-2 bg-light">{{ itemCtaCte.DEBITO }}</div>
        <div class="col-md-2 bg-light">{{ itemCtaCte.CREDITO }}</div>
        <div class="col-md-1 bg-light">{{ itemCtaCte.SALDO | number:'1.0-0' }}</div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1 bg-danger">{{ itemCtaCte.dias }}</div>
        <div class="col-md-1 bg-success">{{ itemCtaCte.intereses }}</div>
    </div>
  </div>